# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.*project

# VScode
.vscode

# PyCharm/Jetbrains editors
.idea

# Mac
.DS_Store

# Arduino
*.hex
*.bin
*.elf
.arduino
